<link rel="stylesheet" href="stylesheets/styleindex.css">
<body>
    <section class="home" id="home">
        <div class="content">
            <h3>Make every moment beautiful
                <p class="contentpara12">hadbvhjav djchasdhvjhasvdgvdschvdvhhjsdvch jsdvcjhsd vhjsvdjhasv djvhasd  jchdjhsdbh asdvbhjasbdhjabsdhbasdvhahsvbhasbdiva bsivbfiuarebiuafbduiv</p>
            </h3>
            {{!-- <p class="contentpara">hadbvhjav djchasdhvjhasvdgvdschvdvhhjsdvch jsdvcjhsd vhjsvdjhasv djvhasd  jchdjhsdbh asdvbhjasbdhjabsdhbasdvhahsvbhasbdiva bsivbfiuarebiuafbduiv</p> --}}
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading"><span>About</span>us</h1>

        <div class="row1">
            
            <div class="image">
                <img src="images/aboutimg.png" alt="about">
            </div>

            <div class="content">
                <h3>What makes our website special?</h3>
                <p>hadbvhjav djchasdhvjhasvdgvdschvdvhhjsdvch jsdvcjhsd vhjsvdjhasv djvhasd  jchdjhsdbh asdvbhjasbdhjabsdhbasdvhahsvbhasbdiva bsivbfiuarebiuafbduiv</p>
            </div>

        </div>

    </section>

    <section class="menu" id="menu">
        
        <h1 class="heading">Our <span>Stories</span></h1>

        <div class="box-container">
            
            <div class="box">
                <img src="images/menu1.png" alt="">
                <h3>Autobiographical</h3>                    
            </div>

            <div class="box">
                <img src="images/menu2.png" alt="">
                <h3>Fictional Short Stories</h3>    
            </div>

            <div class="box">
                <img src="images/menu3.png" alt="">
                <h3>Inspirational</h3>    
            </div>

            <div class="box">
                <img src="images/menu4.png" alt="">
                <h3>Travelogues and Adventure Stories</h3>    
            </div>

            <div class="box">
                <img src="images/menu5.png" alt="">
                <h3>Family Histories and Anecdotes</h3>    
            </div>

            <div class="box">
                <img src="images/menu6.png" alt="">
                <h3>Mystery and Detective Stories</h3>    
            </div>

        </div>

    </section>


    <section class="review" id="review">
        
        <h1 class="heading">customer's <span>review</span></h1>

        <div class="box-container">
            
            <div class="box">
                <img src="images/quoteimg.png" alt="" class="quote">
                <p>nsdjdbn dfvd serg serg sert grt hert hert er tyh th t h tyh ryh t h th trh reh rt6 e tyhedr ther 6 he rty her g ert he trh et rh etr hed ryh er he rg her th dert her h drt hd rth dtr hdh r thd tr rt g</p>
                <img src="images/user1.png" alt="" class="user">
                <h3>Chota Bheem</h3>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="images/quoteimg.png" alt="" class="quote">
                <p>nsdjdbn dfvd serg serg sert grt hert hert er tyh th t h tyh ryh t h th trh reh rt6 e tyhedr ther 6 he rty her g ert he trh et rh etr hed ryh er he rg her th dert her h drt hd rth dtr hdh r thd tr rt g</p>
                <img src="images/user2.png" alt="" class="user">
                <h3>Raju</h3>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </div>
            </div>

            <div class="box">
                <img src="images/quoteimg.png" alt="" class="quote">
                <p>nsdjdbn dfvd serg serg sert grt hert hert er tyh th t h tyh ryh t h th trh reh rt6 e tyhedr ther 6 he rty her g ert he trh et rh etr hed ryh er he rg her th dert her h drt hd rth dtr hdh r thd tr rt g</p>
                <img src="images/user3.png" alt="" class="user">
                <h3>Tun Tun Mausi</h3>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </section>

    <section class="contact" id="contact">
        <h1 class="heading"> <span>contact</span> us </h1>

        <div class="row">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45600.781834715235!2d-79.74295695136722!3d44.41164299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa3723e3232f1%3A0xe6be031a81155c65!2sGeorgian%20College!5e0!3m2!1sen!2sca!4v1701800900571!5m2!1sen!2sca" allowfullscreen="" loading="lazy" ></iframe>

            <form action="">
                <h3>get in touch</h3>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="name">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="email">
                </div>
                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="number" placeholder="number">
                </div>
                <input type="submit" value="contact now" class="btn btn-lg btn-success col-12">
            </form>
        </div>
    </section>

</body>